@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-2xl text-center mt-5
}

.table {
    @apply px-6 py-2 bg-gray-100 font-medium text-gray-600 uppercase border leading-4 tracking-wide
}
:root{
    --oruga-modal-content-padding:0
}

.o-field__message{
    @apply text-red-400
}